
.video-container {
  position: relative;
  width: fit-content;
  text-align: center;
}

.video {
  width: 100%;
  max-width: 1000px;
  margin: 20px 0;
}

.btn-container {
  position: absolute;
  left: 80%;
  bottom: 25%;
}

.btn-container button {
  font-size: 2.5rem;
  padding: 0.5rem 0.75rem;
}
